<ion-content>
    <div background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + data.headerImage + ')'}">
        <!--Social Shere-->
        <div float-left social>
            <button clear menu ion-button menuToggle>
                <ion-icon class="icon-menu" name="menu"></ion-icon>
            </button>
        </div>

        <div *ngIf="current != null">
            <div card-title>{{ _user.kota }}</div>
            <div card-subtitle>{{ tgl | date }}</div>

            <div card-date></div>
            <div card-date>
                <img src="http://openweathermap.org/img/w/{{ current.weather[0].icon }}.png" />
                <h2>{{ current.weather[0].main }}</h2>
            </div>
            <div derajat>{{ current.main.temp | number:'1.1-1' }}<sup>o</sup></div>
        </div>
        <div *ngIf="current == null">
                <div card-title>Memuat Data...</div>
        </div>
    </div>

    <ion-grid no-padding *ngIf="list != null">
        <ion-row>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item no-lines *ngFor="let item of list">
                        <!--Content Avatar-->
                        <ion-avatar item-start>
                            <img src="http://openweathermap.org/img/w/{{ item.icon }}.png">
                        </ion-avatar>
                        <!--Content Title-->
                        <h2 item-title>{{ item.cuaca }}</h2>
                        <!--Content Subtitle-->
                        <h3 item-subtitle>{{ item.tanggal | date:'dd/MM/yyyy' }}</h3>
                        <!--Content Icon-->
                        <ion-icon icon-medium item-end>
                            <!-- <i class="icon icon-bell"></i> -->
                            {{ item.temp/14 | number:'0.0-0' }}<sup>o</sup>
                        </ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
  
</ion-content>
